extends ./template.jade

block title
  title FireFront Boilerplate by Wendell Adriel

block header
  .content
    h1
      span.title FireFront Boilerplate
      br
      span.description Front-End boilerplate using many cool features and technologies to aid in the development
      img(src = './assets/img/codeshare.png')

block footer
    span.author Made with ❤ by 
      a(href = 'http://wendelladriel.github.io', target = '_blank') Wendell Adriel
