doctype html
html(lang = 'en')
  head
    meta(charset = 'UTF-8')
    link(rel = 'shortcut icon', type = 'image/png', href = './assets/img/favicon-16x16.png')
    link(rel = 'stylesheet', href = './assets/css/main.css')
    block title
  body
    header.header
      block header
    footer.footer
      block footer
    script(src = './assets/js/main.js')
